/*------------------------------------*\
  #Colors
\*------------------------------------*/

// Main color (Figma Design)
$collaborate_primary_color: #000000;
$collaborate_dark_color: #060606;
$collaborate_white_color: #ffffff;
$collaborate_accent_color: #ff00b8;
