/*------------------------------------*\
  #Colors
\*------------------------------------*/

// Main color (Figma Design)
$sheen_primary_color: #000000;
$sheen_dark_color: #060606;
$sheen_white_color: #ffffff;
$sheen_accent_color: #ff00b8;
