/*------------------------------------*\
  #DM SANS
\*------------------------------------*/
/* dm-sans-400 - latin */
@font-face {
    font-family: "dm-sans";
    font-style: normal;
    font-weight: 400;
    src: local(""), /* IE6-IE8 */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-regular.ttf") format("truetype");
}

/* dm-sans-400 - italic */
@font-face {
    font-family: "dm-sans";
    font-style: italic;
    font-weight: 400;
    src: local(""), /* IE6-IE8 */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-italic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-italic.woff") format("woff"),
        /* Modern Browsers */ url("../../assets/fonts/dm-sans/dm-sans-v10-latin-italic.ttf") format("truetype");
}

$sheen_main_font: "dm-sans";
