.text-massive {
    font-size: 90px;
    line-height: 70px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

h1,
.h1 {
    font-size: 75px;
    line-height: 60px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

h2,
.h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

h3,
.h3 {
    font-size: 31px;
    line-height: 34px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

h4,
.h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    font-family: $collaborate_main_font;
}

.h4--small {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-family: $collaborate_main_font;
}

.h5--secondary {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: $collaborate_main_font;
}

h6,
.h6 {
    font-size: 15px;
    line-height: 34px;
    font-weight: 400;
    font-family: $collaborate_main_font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-break: break-word;
}
