h1,
.h1 {
    font-weight: 700;
    font-size: rem(60px);
    line-height: rem(60px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

h2,
.h2 {
    font-weight: 700;
    font-size: rem(32px);
    line-height: rem(35px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

h3,
.h3 {
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(24px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

.h3--regular {
    font-weight: 400;
}

h4,
.h4 {
    font-weight: 400;
    font-size: rem(20px);
    line-height: rem(26px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

h5,
.h5 {
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(25px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

.h5--italic {
    font-style: italic;
}

h6,
.h6 {
    font-weight: 400;
    font-size: rem(14px);
    line-height: rem(18px);
    font-family: $collaborate_main_font;
    color: $collaborate_primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-break: break-all;
}
