:root {
    --orange: #E76F51;
    --white: #fff;
    --grey: #D2D2D2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Roboto";
}

/*

-- Reset Style --

*/

a {
    text-decoration: none;
}

/*

-- Helper Class --

*/

/*

-- App Style --

*/

.header {
    background: linear-gradient(rgba(214, 210, 207, 0.5), rgba(231, 220, 215, 0.5));
    background-position: center;
    background-size: cover;
    min-height: 8rem;
    /* border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
}
.nav__wrapper{
    display: flex;
    align-items: center;
}
.app-logo {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 3rem;
}

.app-logo__img {
    width: 100%;
    height: 100%;
    margin-left:5rem;
}

.menu {
    display: none;
    list-style-type: none;
}

.menu__item {
    margin-left: 8rem;
}

.menu__link {
    color:#198aa1 ;  
}
.menu__link--active{
font-weight: bold;
}
.nav-menu {
    position: fixed;
    top: 0;
    left: -25rem;
    bottom: 0;
    width: 25rem;
    background-color: #343434;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
}

.nav-menu--open{
    left: 0;
}
.mobile-menu {
    margin-bottom: 3rem;
}

.mobile-menu__item {
    margin-bottom: 1rem;
}

.mobile-menu__link {
    color: var(--white);
}

.nav-menu__links {
    display: flex;
}

.nav-menu__link {
    color: var(--white);
    border: 1px solid var(--white);
    display: block;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

.nav-menu__link--border {

}

.header__links {
    display: none;
}

.header__link {
    color: var(--white);
    background-color:#1494ae;
    margin-left: 5rem;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
}

.header__link--border {
    margin-right: 3rem;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    opacity: 0.5;
}


/* .nav__btn {
    background-color: var(--white);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */

/* .nav__btn-line {
    display: block;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--orange);
    position: relative;
    transition: all 150ms ease-in-out;
} */

/* .nav__btn-line::before,
.nav__btn-line::after {
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    border-radius: 5rem;
    background-color: var(--orange);
    transition: all 200ms ease-in-out;
} */
/* 
.nav__btn-line::before {
    top: -0.8rem;
}

.nav__btn-line::after {
    top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
    background-color: transparent;
}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(8px) rotate(45deg);
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(-8px) rotate(-45deg);
} */