* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    transition: $global-transition;
}

body {
    transition: $global-transition;
    font-family: $collaborate_main_font !important;
    position: relative !important;
}
