/*------------------------------------*\
  #Footer
\*------------------------------------*/
footer {
    background: rgb(250, 250, 250);
    height: auto;
    width: 100%;
    color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 80px;
    padding: 0px 100px;
    flex-wrap: wrap;
    padding-top: 32px;

    @include mq($from: tablet) {
        height: 150px;
        justify-content: space-between;
    }

    div {
        margin-bottom: 64px;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li {
    margin: 0 10px;
    list-style-type: none;
}

.footer-logo__img {
}
.footer-logo__img {
    width: 200px;
    height: 100%;
    margin-left: 5rem;
}

/* .header__links{
margin-left: 80rem;
margin-bottom: 5rem;
} */

.nav-menu__link--border {
}

.footer-bottom {
    display: flex;
}

.header__btn {
    display: flex;
    /* margin-top: 5px; */
}
footer-content {
    /* margin-top: 5px;
  margin: -5rem 10 3rem 0 ; */
}
.header__btns {
    color: var(--white);
    background-color: #1494ae;
    margin-left: 2rem;
    padding: 1rem 1rem;
    border-radius: 10rem;
}

.header__btns header__link--border {
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    opacity: 0.5;
}

.icon ul {
    margin: 0;
    padding: 0;
}
