/*------------------------------------*\
  #Footer
\*------------------------------------*/
.c-footer {
    min-height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: rem(49px);
    position: relative;
    margin-bottom: 0;
    @include mq($from: tablet) {
        margin-top: auto;
    }
}

.c-footer__container {
    width: 100%;
    min-height: rem(160px);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include mq($from: tablet) {
        width: calc(100% - 200px);
        justify-content: space-between;
    }
}

.c-footer__logo {
    display: flex;
    justify-content: center;

    @include mq($from: tablet) {
        justify-content: flex-start;
    }
}

.c-footer__logo-img {
    margin-top: 32px;
    width: rem(240px);
    margin-left: 30px;
    @include mq($from: tablet) {
        margin: 0;
    }
}

.c-footer__social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(50px 0px);

    @include mq($from: tablet) {
        width: auto;
    }
}

.c-footer__social-link {
    margin: rem(0px 30px);
    &:hover,
    &:focus {
        .c-footer__social-icon {
            color: $collaborate_secondary_success_color;
        }
    }
}

.c-footer__social-icon {
    color: $collaborate_primary_color;
    font-size: 40px;
}

.c-footer__buttons {
    margin-bottom: 32px;

    @include mq($from: tablet) {
        margin-bottom: 0;
    }
}
