/*------------------------------------*\
  #Header
\*------------------------------------*/
.c-header {
    max-height: rem(100px);
    padding: rem(0px 16px);
    box-shadow: 0px 2.00694px 4.01389px rgba(0, 0, 0, 0.15);
    @include mq($from: tablet) {
        max-height: rem(94px);
        min-height: rem(94px);
        padding: 0;

        display: flex;
        align-items: center;
        padding: rem(0px 100px);
    }

    @include mq($until: wide-sm) {
        padding: rem(0px 16px);
    }
}

.c-header__menu {
    width: 100%;
    height: rem(44px);
    padding: rem(15px 0px);
    max-height: rem(44px);
    display: flex;
    justify-content: space-between;

    @include mq($from: tablet) {
        margin-top: 0;
        padding: 0;
    }

    @include mq($until: wide-sm) {
    }
}

.c-header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include mq($from: tablet) {
        justify-content: flex-start;
    }
}

.c-header__branding {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 155;

    @include mq($from: tablet) {
        width: auto;
    }

    img {
        width: auto;
        max-height: 44px;
    }
}

.c-header__branding.is-revert {
    img {
        filter: invert(100%);
    }
}

.c-header__title {
    margin: 0px;
}

.c-header__cta {
    display: none;

    @include mq($from: tablet) {
        display: block;
        min-width: 270px;
        display: flex;
        justify-content: flex-end;
    }
}
